<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Add Cat</title>
</head>
<body>

<section class="banner-container">
    <img th:src="@{/images/FrontCat.png}" alt="Fluffy cat">

    <div class="login-wrapper">
        <form th:action="@{/pets/create}" method="post" class="login-form">
            <h1 class="title">Add Cat</h1>

            <!-- Cat Name -->
            <label class="label" for="name">Cat name</label>
            <input class="field" id="name" type="text" name="name" required>

            <!-- Race -->
            <label class="label" for="race">Race</label>
            <select class="field" id="race" name="race" required>
                <option value="" disabled selected>Select race</option>
                <option th:each="race : ${races}"
                        th:value="${race}"
                        th:text="${race}">
                </option>
            </select>

            <button class="loginbtn" type="submit">Save cat</button>

            <p th:if="${param.error}" style="color:red;">Could not create cat</p>

            <a th:href="@{/profile}" class="btn">Back to profile</a>
        </form>
    </div>

</section>

</body>
</html>