<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<section class="banner-container">
    <img th:src="@{/images/FrontCat.png}" alt="Fluffy cat">

    <div class="login-wrapper">
        <form th:action="@{/login}" method="post" class="login-form">
            <h1 class="title">Login</h1>

            <!-- Username -->
            <label class="label" for="username">Username</label>
            <input class="field" id="username" type="text" name="username" required>

            <!-- Password -->
            <label class="label" for="password">Password</label>
            <input class="field" id="password" type="password" name="password" required>

            <button class="loginbtn" type="submit">Login</button>

            <p th:if="${param.error}" style="color:red;">Invalid username or password</p>
            <p th:if="${param.logout}" style="color:green;">You have been logged out</p>

            <a th:href="@{/index}" class="btn">Go back</a>

        </form>
    </div>

</section>

</body>
</html>
