<!DOCTYPE html>
<html lang="da">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <meta charset="UTF-8">
    <title>Registrer</title>
</head>
<body>

<section class="banner-container">
    <nav class="app-nav">
        <a th:href="@{/index}" class="app-nav-brand">RaceKatteKlubben</a>
    </nav>

    <img th:src="@{/images/FrontCat.png}" alt="Kat">

    <div class="login-wrapper">
        <form th:action="@{/register}" method="post" class="login-form">
            <h1 class="title">Registrer</h1>

            <label class="label" for="username">Brugernavn</label>
            <input class="field" id="username" type="text" name="username" required>

            <label class="label" for="email">E-mail</label>
            <input class="field" id="email" type="email" name="email" required>

            <label class="label" for="password">Adgangskode</label>
            <input class="field" id="password" type="password" name="password" required>

            <button class="loginbtn" type="submit">Registrer</button>

            <p th:if="${param.error}" style="color:red;">Kunne ikke registrere bruger</p>

            <a th:href="@{/index}" class="btn">Gå tilbage</a>
        </form>
    </div>

</section>

</body>
</html>
