<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<section class="banner-container">
    <img th:src="@{/images/FrontCat.png}" alt="Fluffy cat">

    <div class="login-wrapper">
        <form th:action="@{/register}" method="post" class="login-form">
            <h1 class="title">Register</h1>

            <!-- Username -->
            <label class="label" for="username">Username</label>
            <input class="field" id="username" type="text" name="username" required>

            <!-- E-mail -->
            <label class="label" for="email">E-mail</label>
            <input class="field" id="email" type="email" name="email" required>

            <!-- Password -->
            <label class="label" for="password">Password</label>
            <input class="field" id="password" type="password" name="password" required>

            <button class="loginbtn" type="submit">Register</button>

            <p th:if="${param.error}" style="color:red;">Could not register user</p>

            <a th:href="@{/index}" class="btn">Go back</a>
        </form>
    </div>

</section>

</body>
</html>
